/node_modules
/public/hot
/public/storage
/public/css/*.css
/public/js/*.js
/public/mix-menifest.json
/storage/*.key
/vendor
package-lock.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
