#banner {
	background-size: cover;
    height: 100vh;
    min-height: 400px;
    background-image: url("/images/banner.jpg");
}
#navbarSupportedContent {
	.navbar-nav {
		.nav-item {
			.nav-link {
				color: $pink;
                font-size: 18px;
			}
			&.active, &:hover {
				color: $deeppink;
				font-weight: bold;
			}
            .btn:hover {
                background-color: $pink;
                color: $white;
                border-color: $pink;
            }
		}
	}
}

.border-bottom-pink {
    @extend .shadow;
    border-bottom: 1px solid $lightpink;
}

/******* About Us *******/
#about-us {
  background-image: url("/images/about_us_background.jpg");
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-us::before{
  background-color: rgba(255, 255, 255, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

/******* How It Works *******/
#how-it-works {
  background-image: url("/images/how_it_works_background.jpg");
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#how-it-works::before{
  background-color: rgba(255, 255, 255, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}


