#banner {
	background-size: cover;
    background-image: url("/images/banner22.jpg");
    height: 100vh;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}
.img-fluid {
  max-width: 100%;
  height: 65px;
}
#navbarSupportedContent {
	.navbar-nav {
		.nav-item {
			.nav-link {
				color: $pink;
                font-size: 18px;
			}
			&.active, &:hover {
				color: $deeppink;
				font-weight: bold;
			}
            .btn:hover {
                background-color: $pink;
                color: $white;
                border-color: $pink;
            }
		}
	}
}

.border-bottom-pink {
    @extend .shadow;
    border-bottom: 1px solid $lightpink;
}

/******* About Us *******/
#about-us {
  background-image: url("/images/about_us_background.jpg");
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-us::before{
  background-color: rgba(255, 255, 255, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
/******* Contact Us *******/
#contact-us {
  background-image: url("/images/contact-us1.jpg");
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact-us::before{
  background-color: rgba(255, 255, 255, 0.4);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.contact-title{
  border-radius: 5px;
  height:150px;
  color: white;
  
  background:
    linear-gradient(
      rgba(54,84,99,0.7), 
      rgba(100,84,99,0.7)
    ), url("/images/bg-contact.jpg") no-repeat center center;

    background-size: cover;
}

/******* How It Works *******/
#how-it-works {
  background-image: url("/images/how-work.jpg");
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#how-it-works::before{
  background-color: rgba(255, 255, 255, 0.37);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.content {
    min-height: 100vh;
}
.btn-cam {
  background-color:white;
  border-color:#f66d9b;
  color:#f66d9b;
}
.btn-cam:hover{
  background-color:#f66d9b;
  color: white;
  border-color: #f66d9b;
}
.radio label:after{
  content: '';
  display: table;
  clear: both;
}

.radio .cr{
  display: inline-block;
  border: 1px solid #f66d9b;
  border-radius: .25em;
  width: 100px;
}

.radio label input[type="radio"]{
  display: none;
}



.radio label input[type="radio"]:checked + .cr {
  background-color: #f66d9b;
  color: white;
}

.lb-check{
  color: #f66d9b;
  font-size: 1em;
}
